<!DOCTYPE html>
<html>

<head>
<link rel="stylesheet" href=".css">
<meta charset="utf-8">
<title>Form usuario</title>
</head>

<body>

    <h1>Formulario de registro: </h1>

    <form action="/encuesta/crear" method="POST" enctype="multipart/form-data">
      <div>
        <label>Título: </label>
        <input type="hidden" name="usuarioId" th:value="${session.usuariosession.id}">
        <input type="text" name = "titulo" th:value="${titulo}">
      </div>
      <div>
        <label>Opcion 1: </label>

        
        <input type="text" name = "opcion1" th:value="${opcion1}">
      </div>  
      <div>
        <label>Opcion 2: </label>
        <input type="text" name = "opcion2" th:value="${opcion2}">
      </div>

      <button class="btn btn-primary" type="submit">Guardar</button>

</body>

</html>