<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
<link rel="stylesheet" href="/style.css">
<meta charset="utf-8">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Monoton&family=Pacifico&family=Righteous&display=swap" rel="stylesheet">

<title>Index Inicial</title>
<link rel="icon" type="icon/png" sizes=""href="/assets/favicon.png">
</head>

<body>
     
        <nav class="nav">
           <a class="navbar-brand" id="nav-logo"  href="/">
                <img src="/img/logopequenio.png" width="160">
              </a>
            
            <a class="nav-link"  href="/usuario/registro">Registro</a>
            <a class="nav-link" href="/login">Log In</a>
           <!-- <a class="nav-link" href="/encuesta/listar">Querys</a>  -->
            <a class="nav-link" href="/preguntasFrecuentes">Preguntas Frecuentes</a>
        </nav>
        
  <div>
  <div id="logo">
    <img src="/img/logo con sombra.png" width="700" height=auto/>
  </div>
      <div id="formulario">
      <p id="parrafoIndex" th:if="${error!=null}" th:text="${error}">Error </p>
        </div>
    </div>
    
 
    <br>
    

<div th:fragment="footer">
  <footer class="pie-pagina">
    <div class="grupo-1">
      <div class="box">
        <figure>
          <a>
            <img src="/img/logopequenio.png" width="160"
              class="imagen-footer">
          </a>
        </figure>
        <br>
        <div class="grupo-2">
          <a> &copy;2022 A MOVER LA QUERY!</a>
          <br>
          <a>Todos los Derechos Reservados</a>

        </div>
      </div>
  </footer>
</div>
        
</body>

</html>