<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>\\LOGIN EXITOSO//</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>//LOGIN EXITOSO\\</div>
        <form action="/logout" method="post"><button type="submit" class="btn btn-link navbar-btn navbar-link">Cerrar Sesión</button></form>
    </body>
</html>
