<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
<link rel="stylesheet" href="../static/style.css">
<meta charset="utf-8">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Monoton&family=Pacifico&family=Righteous&display=swap" rel="stylesheet">

<title>Login Exitoso</title>
<link rel="icon" type="icon/png" sizes=""href="assets/favicon.png">
</head>

    <body>
        <div>//LOGIN EXITOSO\\</div>
        
        
        <h2 th:if="${session.usuariosession != null}" th:text="${'¡BIENVENIDO: ' + session.usuariosession.alias + '!'}"></h2>
        
        <a class="btn btn-link" th:href="@{/encuesta/crearEnc(id=${session.usuariosession.id})}"> Crear Encuesta</a>
        
        
        <br><br>
        <form action="/usuario/edicion">
            <input type="hidden" name="id" th:value="${session.usuariosession.id}">
            <button type="submit" class="btn btn-link navbar-btn navbar-link">Editar Perfil</button>
        </form>        
        <form action="/logout" method="post"><button type="submit" class="btn btn-link navbar-btn navbar-link">Cerrar Sesión</button></form>
        <form action="/encuesta/listar" >
            <input type="hidden" name="idUsuario" th:value="${session.usuariosession.id}">
            <button type="submit" class="btn btn-link navbar-btn navbar-link">Ver Encuestas</button>
        </form>
    </body>
</html>
