<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Monoton&family=Pacifico&family=Righteous&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/style.css">
    <title>Document</title>
    <link rel="icon" type="icon/png" sizes=""href="/assets/favicon.png">
</head>
<body>
        <form action="/usuario/misQuerys">
        <input type="hidden" name="idUsuario" th:value="${session.usuariosession.id}">
    </form>
  <nav class="nav">
    <a class="navbar-brand" id="nav-logo"  href="/loginExitoso">
         <img src="/img/logopequenio.png" width="160">
       </a>
     
     <a class="nav-link"  th:href="@{/usuario/perfil/(id=${session.usuariosession.id})}">Mi cuenta</a>
     <!--<a class="nav-link" href="">Mis Query's</a>-->
     <a class="nav-link" href="/preguntasFrecuentesIn">Preguntas Frecuentes</a>
     <a class="nav-link" href="/encuesta/listar">Querys</a>
     <a class="nav-link" href="/logout">Cerrar Sesión</a>
 </nav>

<h1 id="hh1">Mis Query's</h1>
<p th:if="${error!=null}" th:text="${error}" style="color: white;"></p>
<!--Este es el comentario a ver si funciona todo-->

<table th:if="${error==null}" class="table text-center">
    <thead class="fw-bold">
       <tr>
       <th scope="col">Query </th>
       <th scope="col">Fecha Finalización</th>
       <th scope="col">Alta/Baja</th>
       <th scope="col">Ver Resultados</th>
    </tr>
    </thead>
            
    <tbody class="fw-bold">
        
        <tr th:each="encuesta:${encuestas}">
            
        <td th:text="${encuesta.titulo}">Titulo</td> 
        <td>
            <label th:if="${encuesta.caducidad} != null" th:text="${encuesta.caducidad}">Caducidad</label>
            <label th:if="${encuesta.caducidad} == null">Sin fecha Finalización</label>
        </td>
        <!--<form action="/encuesta/alta"> 
            <input type="hidden" name="idUsuario" th:value="${session.usuariosession.id}">
            <input type="hidden" name="id" th:value="${encuesta.id}">
        <td th:if="${encuesta.alta}==false"><button type="submit" id="btnRegular">Dar de alta</button></a></td>
        </form>-->
        <!--<td th:if="${session.usuariosession != null && encuesta.alta}==true">
                <input type="hidden" name="idUsuario" th:value="${session.usuariosession.id}">
                    <a th:href="@{/encuesta/baja(id=${encuesta.id})}"><button type="button" id="btnRegular">Dar de baja</button></a>
        </td>-->
        
        
        <td>
            <input type="hidden" name="idUsuario" th:value="${session.usuariosession.id}">
                
            <a th:if="${encuesta.alta}==false" th:href="@{/encuesta/alta(id=${encuesta.id}, idUsuario = ${session.usuariosession.id})}"><button type="button" id="btnRegular">Dar de alta</button></a>
            <a th:if="${encuesta.alta}==true" th:href="@{/encuesta/baja(id=${encuesta.id}, idUsuario = ${session.usuariosession.id})}"><button type="button" id="btnRegular">Dar de baja</button></a>
        </td>
        <td>
            <a th:href="@{/resultados/visualizacion(idEncuesta=${encuesta.id})}"><button type="button" id="btnRegular">Ver Query</button></a>
        </td>
        <!--
        <td>
            <input type="hidden" name="idUsuario" th:value="${session.usuariosession.id}">
            <a th:if="${encuesta.alta}==true" th:href="@{/encuesta/baja(id=${encuesta.id}, idUsuario = ${session.usuariosession.id})}"><button type="button" id="btnRegular">Dar de baja</button></a>
        </td>
        
        <!--<a class="btn btn-info" role="button" th:href="@{/encuesta/alta(id=${encuesta.id}, idUsuario=${session.usuariosession.id})}" >Dar de baja</a></td>
        <td th:if="${encuesta.alta}==true"><a th:href="@{/encuesta/baja(id=${encuesta.id}, idUsuario = ${session.usuariosession.id})}"><button type="button" id="btnRegular">Dar de baja</button></a></td>
        
        <td th:if="${encuesta.alta}==false"><a th:href="@{/encuesta/alta(id=${encuesta.id})}"><button type="button" id="btnRegular">Dar de alta</button></a></td>
        -->             
        </tr>
            
    </tbody>        
    </table>

   <br><br>
   <form th:action="@{/encuesta/crearEnc}">
   
    <input type="hidden" name="id" th:value="${session.usuariosession.id}">    
    <button class="btn btn-primary" role="button" id="btnIndex">Crear Query</button>
</form>
    <!--
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">¿Seguro?</h5>
              
              <button  id="btnMiddle" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true"></span>
              Si</button>
              <button id="btnMiddle" type="button" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true"></span>
              No</button>
        </div>
            <div class="modal-body">
              <p>Estás a punto de borrar la Query permanentemente! </p>
            </div>
            <div class="modal-footer">
              <button id="btnMiddle" type="button" class="btn btn-secondary" data-dismiss="modal">Me arrepentí!</button>
              <button id="btnMiddle" type="submit" class="btn btn-primary" value="Submit">Borrar Query!</button>
            </div>
          </div>
        </div>
      </div>-->

      
<div th:fragment="footer">
  <footer class="pie-pagina">
    <div class="grupo-1">
      <div class="box">
        <figure>
          <a>
            <img src="/img/logopequenio.png" width="160"
              class="imagen-footer">
          </a>
        </figure>
        <br>
        <div class="grupo-2">
          <a> &copy;2022 A MOVER LA QUERY!</a>
          <br>
          <a>Todos los Derechos Reservados</a>

        </div>
      </div>
  </footer>
</div>

</body>
</html>