<!DOCTYPE html>
<html>

<head>
<link rel="stylesheet" href="AMQstyle.css">
<meta charset="utf-8">
<title>Form usuario</title>
</head>

<body>

    <h1 id="hh1">Formulario de registro: </h1>

    <form action="/usuario/registrar" method="POST" enctype="multipart/form-data">
      <div>
        <label>Alias: </label>
        <input type="text" name = "alias" th:value="${alias}">
      </div>
      <div>
        <label>Sexo: </label>
        <!--<select class="form-control" th:field="*{Sexo}">
        <option th:each="Sexo : ${T(com.attacomsian.runner.domains.constants.Topic).values()}" th:value="${Sexo}" th:text="${Sexo}">Seleccionar</option>
        </select>-->
        <select class="form-control" name="sexo"> 
                    <option th:each="sex: ${sexos}" th:text="${sex}"></option> 
                </select>
      </div>  
      <div>
        <label>E-mail: </label>
        <input type="email" name = "email" th:value="${email}">
      </div>
      <div>
        <label>País: </label>
        <!--<select class="form-control" th:field="*{Pais}">
        <option th:each="Pais : ${T(com.attacomsian.runner.domains.constants.Topic).values()}" th:value="${Pais}" th:text="${Pais}">Seleccionar</option>
        </select>-->
        <select class="form-control" name="pais"> 
                    <option th:each="pais1: ${paises}" th:text="${pais1}"></option> 
        </select>
      </div>
      <div>
        <label>Fecha de Nacimiento: </label>
        <input type="date" name = "nacimiento" th:value="${nacimiento}">
      </div> 
      <div>
        <label>Clave: </label>
        <input type="password" name = "clave" th:value="${clave}">
        <div class="form-text">Condiciones para la clave.</div>
      </div>
      <div>
        <label>Confirmar Clave: </label>
        <input name= "claveValidar" type="password" th:value="${claveValidar}">
      </div>

      <button class="btn btn-primary" type="submit">Guardar</button>

</body>

</html>